# opencv-python==4.8.1  # Alternative to picamera for testing on Windows.
picamera==1.13        # Standard library for picamera.

pandas==2.2.3
numpy==2.2.3

board==1.0 
adafruit-circuitpython-bmp3xx==1.3.22
adafruit-circuitpython-lsm9ds1==2.1.24